<ion-view view-title="Comsumption">
    <ion-content class="animate-fade-slide-in">
        <div 
            chartist-events="event" 
            chartist class="hero item ct-chart" 
            chartist-data="lineData" 
            chartist-chart-type="Line" 
            chartist-chart-options="lineOptions" 
            chartist-responsive-options="ResponsiveOptions"
            >
        </div>
        <div class="item  test item-input-inset">
            <label class="item-input-wrapper">
            <i class="icon ion-social-usd "></i>
                <input type="number" placeholder="Price" ng-model="price">
            </label>
            <button class="button button-small button-balanced" ng-click="submitPrice(price)">
                Submit
            </button>
        </div>
        Breack Donwns
        <div 
            chartist-events="event" 
            chartist class="hero item ct-chart" 
            chartist-data="lineData" 
            chartist-chart-type="Bar" 
            chartist-chart-options="lineOptions" 
            chartist-responsive-options="ResponsiveOptions"
            >
        </div>

    </ion-content>
</ion-view>

