<ion-view view-title="Dashboard">
    <ion-content class="padding">





        <style>
            .ct-chart .ct-series.ct-series-a .ct-area { fill: red; }
            .ct-chart .ct-series.ct-series-a .ct-line { stroke: red; stroke-width: 3px; }
            .ct-chart .ct-series.ct-series-b .ct-area { fill: blue; }
            .ct-chart .ct-series.ct-series-b .ct-line { stroke: blue; stroke-width: 3px; }
            .ct-chart .ct-series.ct-series-c .ct-area { fill: green; }
            .ct-chart .ct-series.ct-series-c .ct-line { stroke: green; stroke-width: 3px; }
            .ct-chart .ct-series.ct-series-d .ct-area { fill: purple; }
            .ct-chart .ct-series.ct-series-d .ct-line { stroke: purple; stroke-width: 3px; }
            .ct-chart .ct-series.ct-series-e .ct-area { fill: yellow; }
            .ct-chart .ct-series.ct-series-e .ct-line { stroke: yellow; stroke-width: 3px; }
            .ct-chart .ct-series.ct-series-f .ct-area { fill: black; }
            .ct-chart .ct-series.ct-series-f .ct-line { stroke: black; stroke-width: 3px; }
            .ct-chart .ct-series.ct-series-g .ct-area { fill: pink; }
            .ct-chart .ct-series.ct-series-g .ct-line { stroke: pink; stroke-width: 3px; }
            .ct-chart .ct-series.ct-series-h .ct-area { fill: cyan; }
            .ct-chart .ct-series.ct-series-h .ct-line { stroke: cyan; stroke-width: 3px; }
        </style>        

        



        <!--<canvas id="oververview" class="chart chart-line" data="data" labels="labels" -->
            <!--legend="true" series="series" ></canvas>-->

        <!--<div chart id="chart1"  chart-data="lineData" chart-type="type" chart-options="lineOptions" chart-responsive-options="ResponsiveOptions"></div>-->
        <div chartist class="ct-chart" chartist-events="event" chartist-data="lineData" chartist-chart-type="Line" chartist-chart-options="lineOptions" chartist-responsive-options="ResponsiveOptions">
        </div>
        <button class="{{button.class}}" ng-click="click()">
            {{button.tex}}
        </button>

        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <!--<i class="icon ion-social-usd "></i>-->
                <input type="date" ng-model="DateToInsert">
            </label>
            <button class="button button-small button-balanced" ng-click="insertDate(DateToInsert)">
                Insert
            </button>
        </div>







        <!--<canvas id="comparator" class="chart chart-line" data="compData" labels="compLabels" -->
            <!--legend="true" series="compSeries" ></canvas>-->
        <div chartist class="ct-chart"chartist-events="event" chartist-data="lineDataComp" chartist-chart-type="Line" chartist-chart-options="lineCompOptions" chartist-responsive-options="ResponsiveOptions" ></div>

        <button class="button button-block button-assertive" ng-click="clearData()">
            Clear
        </button>


    </ion-content>
</ion-view>




<!--<div class="list card">-->
    <!--<div class="item item-divider">Recent Updates</div>-->
    <!--<div class="item item-body">-->
        <!--<div>-->
            <!--There is a fire in <b>sector 3</b>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--<div class="list card">-->
    <!--<div class="item item-divider">Health</div>-->
    <!--<div class="item item-body">-->
        <!--<div>-->
            <!--You ate an apple today!-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--<div class="list card">-->
    <!--<div class="item item-divider">Upcoming</div>-->
    <!--<div class="item item-body">-->
        <!--<div>-->
            <!--You have <b>29</b> meetings on your calendar tomorrow.-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

