<ion-view view-title="Settings">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input ">
                <span class="input-label">
                    Timeframe
                </span>
                <input type="number" ng-model="timeFrame"> 
            </label>
            <label class="item item-input ">
                <span class="input-label">
                    Price
                </span>
                <input type="number" ng-model="price">
            </label>
        </div>
    </ion-content>
</ion-view>

