<ion-view view-title="Dashboard">
    <ion-content class="animate-fade-slide-in scroll-bg1">
        <!--<nav mfb-menu position="tl" effect="zoomin" -->
            <!--active-icon="ion-minus-round" resting-icon="ion-plus-round"-->
            <!--toggling-method="click" ng-click="toogleMainChart()">-->
            <!--</nav>-->
        
        <div 
            chartist-events="event" 
            chartist class="hero item ct-chart" 
            chartist-data="lineData" 
            chartist-chart-type="Line" 
            chartist-chart-options="lineOptions" 
            chartist-responsive-options="ResponsiveOptions"
            >
        </div>
        <br>
        <div class="item row">
            <button class="{{button.class}}" ng-click="click()">
                <strong> {{button.tex}} </strong> 
            </button>
        </div>
        <br>
        <div ></div>
        <div class="row">
            <button class="item col button button-raised icon-left ion-compose button-stable "></button>
            <div class="col col-10"></div>
            <button class="item col button button-raised icon-left ion-ios-undo  button-assertive "></button>
        </div>

        
        <!--<div class="item item-input-inset">-->
            <!--<label class="item-input-wrapper">-->
                <!--[><i class="icon ion-social-usd "></i><]-->
                <!--<input type="date" ng-model="DateToInsert">-->
                <!--</label>-->
            <!--<button class="button button-small button-balanced" ng-click="insertDate(DateToInsert)">-->
                <!--Insert-->
                <!--</button>-->
            <!--</div>-->



        <!--<div ionic-datepicker input-obj="datepickerObject">-->
            <!--<button class="button button-small button-balanced">{{datepickerObject.inputDate | date:'dd/MMM/yyyy'}}</button>-->
        <!--</div>-->

        <!--<div 
            chartist class="ct-chart animate-show" 
            chartist-events="event" 
            chartist-data="lineDataComp"
            chartist-chart-type="Line" 
            chartist-chart-options="lineCompOptions"
            chartist-responsive-options="ResponsiveOptions" 
            ng-show="toogleCompChart"
            >-->
        <!--</div>-->

        <!--<button class="button button-block button-assertive animate-show" ng-click="removePopup()" ng-show="toogleCompChart">-->
            <!--Clear-->
        <!--</button>-->

    </ion-content>
</ion-view>

