<ion-view view-title="Dashboard">
    <ion-content class="animate-fade-slide-in">
        <div 
            chartist-events="event" 
            chartist class="hero item ct-chart" 
            chartist-data="lineData" 
            chartist-chart-type="Line" 
            chartist-chart-options="lineOptions" 
            chartist-responsive-options="ResponsiveOptions"
            >
        </div>
        <button mfb-menu position="tr" effect="zoomin" active-icon="ion-ios-undo" resting-icon="ion-ios-undo" ng-click="undoButton()"></button>
        <br>
        <div class="item row">
            <div class="col col-10"></div>
            <button class="{{button.class}}" ng-click="click()" ng-disabled="cigButtonDisable">
                <strong> {{button.tex}} </strong> 
            </button>
            <div class="col col-10"></div>
        </div>

        <div class="list">
            <div></div>
            <a class="item item-icon-left">
                <i class="icon ion-cash"></i>
                Total Savings
            </a>
            <div></div>
            <a class="item item-icon-left">
                <i class="icon ion-social-usd"></i>
                some thing esle 
            </a>

        </div>

        <!--<div class="item item-input-inset">-->
            <!--<label class="item-input-wrapper">-->
                <!--[><i class="icon ion-social-usd "></i><]-->
                <!--<input type="date" ng-model="DateToInsert">-->
                <!--</label>-->
            <!--<button class="button button-small button-balanced" ng-click="insertDate(DateToInsert)">-->
                <!--Insert-->
                <!--</button>-->
            <!--</div>-->

        <!--<div ionic-datepicker input-obj="datepickerObject">-->
            <!--<button class="button button-small button-balanced">{{datepickerObject.inputDate | date:'dd/MMM/yyyy'}}</button>-->
        <!--</div>-->

    </ion-content>
</ion-view>

