<ion-view view-title="Settings">
    <ion-content class="padding">
            <div class="item range range-positive">
                <span class="input-label">
                    Timeframe: {{timeFrame}}
                </span>
                <i class="icon ion-arrow-graph-up-right" ></i>
                <input type="range" ng-model="timeFrame" ng-change="changeTimeFrame(timeFrame)" min="0" max="60"> 
                <i class="icon ion-arrow-graph-down-right" ></i>
            </div>
            <span class="input-label">
                Price
            </span>
            <label class="item item-input ">
                <i class="icon ion-social-usd "></i>
                <input type="number"  ng-model="price" ng-change="changePrice(price)">
            </label>
    </ion-content>
</ion-view>

